# Ignore Gradle project-specific cache directory
.gradle
.idea
# Ignore Gradle build output directory
build/

*.iml

testfiles/*.img
testfiles/*.ext4
testshell/*.img
testshell/*.ext4
local.properties

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.ext4
/ktextrd/system.img
